
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/.htaccess
/encryption/encryption.key
/var/
/vendor/
/storage/*
!/storage/counseling
!/storage/general_management

###< symfony/framework-bundle ###
