{% extends 'layouts/base.html.twig' %}

{% block title %}Crear Incidencia{% endblock %}

{% block page_title %}Crear Incidencia{% endblock %}

{% block breadcrums %}
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_tickets_list') }}">Incidencias</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Crear Incidencia</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="col-12 row ms-0 me-0 mb-2">
        <div class="col-6 ">
        </div>

        <div class="col-6 text-end">
            <a href="{{ path('app_tickets_list') }}" class="btn btn-secondary">Listado de Incidencias</a>
        </div>
    </div>

    <div class="card card-flush w-100">
        <form action="{{ path('app_tickets_process_new') }}" method="post">

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('create-ticket') }}">
            <!--begin::Card body-->
            <div class="card-body row">

                <div class="col-12 mb-3">
                    <label>Título <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="title" placeholder="Título de la incidencia" autocomplete="off" required>
                    {% include 'extra/error-message.html.twig' with {'name': 'title'} %}
                </div>

                <div class="col-12 mb-3">
                    <label>Descripción de Incidencia <span class="text-danger">*</span></label>
                    <textarea class="form-control" name="description" placeholder="Incidencia" autocomplete="off" required oninput="this.style.height = '';this.style.height = this.scrollHeight + 'px'" ></textarea>
                    {% include 'extra/error-message.html.twig' with {'name': 'description'} %}
                </div>

            </div>
            <!--end::Card body-->

            <div class="card-footer d-flex justify-content-end text-end">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>

{% endblock %}